# root project directory (expects the doe-suite-config dir in this folder)
export DOES_PROJECT_DIR=/home/hehuiyang/tmp/arc

#  Your unique short name, such as your organization's acronym or your initials.
export DOES_PROJECT_ID_SUFFIX=ae
export DOES_DOCKER_SSH_PUBLIC_KEY=~/.ssh/id_ec_arc.pub  # e.g., ~/.ssh/id_rsa.pub
export DOES_CLOUD=docker
# Note: don't forget DOES_PROJECT_DIR and DOES_PROJECT_ID_SUFFIX from above